{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Create New Contact
{% endblock title %}

{% block content %}
<div class="container">
    <h4 class="heading font-weight-light text-center">Create New Contact</h4>
    <hr>
</div>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Create" class=" btn btn-info w-100 text-info text-center my-2">
    </form>
</div>
{% endblock content %}